<!--
    Might also use Reactive forms and add a bit of styling
-->

<div mat-dialog-content>
    <p><b>Available balance: </b>{{ data.bankAccount.availabe | currency:'ZAR ':true:'2.2-4' }}</p>
    <mat-form-field>
        <input matInput name="withdrawalAmount" type="text" placeholder="How much would you like to withdraw?" [(ngModel)]="data.withdrawalAmount"
            required>
        <mat-error>This field is required</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [matDialogClose]="data.withdrawalAmount" cdkFocusInitial>Proceed</button>
</div>
